
%h2.center Restaurants In #{current_user.default_city.name}
- if params[:category_name].present?
  %h3.center Category "#{params[:category_name]}"

.category-search.pull-right
  = form_tag businesses_path, method: :get, class: "form-inline" do
    = select_tag "category_name", options_for_select(category_options, params[:category_name]), class: "input-large"
    = submit_tag "View Category", name: nil, class: "btn btn-info"
%br
%br

- if params[:category_name].present?
  - businesses = Business.search_by_category(params[:category_name], current_user.default_city)
- if businesses.count == 0
  %p
    No records found.
- else
  .grid-listing
    %ul#og-grid.og-grid
      - businesses.each_with_index do |b, index|
        %li
          - neighborhood = b.neighborhood.present? ? b.neighborhood + ", " : ""
          %a{ href: business_path(b), 'data-largesrc' => b.image_url, 'data-title' => b.name, 'data-description' => "#{neighborhood}#{b.city}, #{b.state} | #{b.categories_formatted}<br />#{reviews_numerical(b)}" }
            = image(b)
