%h2 Add A New #{business_type.name.capitalize}
%p
  Thanks for helping us out! Please fill in the following info and we'll take care of the rest.

= form_for @business, url: businesses_path(@business), method: :post do |f|
  - if flash[:errors].present?
    .alert.alert-error
      %a{ class: 'close', 'data-dismiss' => 'alert' } &#215;
      %strong Error:
      - flash[:errors].each do |message|
        #{message}.

  = f.hidden_field :business_type_id, value: business_type.id
  .control-group
    = f.label :name, class: "required"
    .controls
      = f.text_field :name, autofocus: true

  .control-group
    = f.label :city, class: "required"
    .controls
      = f.text_field :city

  .control-group
    = f.label :state, class: "required"
    .controls
      = f.select :state, us_states

  %br
  .control-group
    = f.submit "Add #{business_type.name.capitalize}!", class: "btn btn-large btn-primary"
