= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"

%h2#business_title #{@business.name}
= hidden_field_tag "business_id", @business.id

%p.lead
  - if @business.neighborhood.present?
    #{@business.neighborhood}, #{@business.city}, #{@business.state}
  - else
    #{@business.city}, #{@business.state}

.row-fluid
  .span7
    %dl.dl-horizontal
      %dt Address
      %dd #{@business.address_line_1}
      %dd #{@business.address_line_2}
      %dd #{@business.city}, #{@business.state}, #{@business.zip}

      %dt Phone
      %dd #{display_phone(@business)}

      - if @business.neighborhood.present?
        %dt Neighborhood
        %dd #{@business.neighborhood}

      %dt Categories
      %dd #{@business.categories_formatted}

      %dt Yelp Rating
      %dd #{business_rating(@business)} (#{@business.yelp_review_count})

  .span3
    = business_image(@business)

.row-fluid
  .span5
    %h4 Friends Who Have Vouched For This Place
    - friend_vouch = false
    %ul
    - current_user.friends.each do |friend|
      - friend.vouch_lists_by_city(@business.city).each do |list|
        - if list.has_business?(@business)
          - friend_vouch = true
          %li #{friend.name}

    - if friend_vouch == false
      None yet.

    %p.last
      - city = City.find_by_name(@business.city)
      - vouch_list = current_user.vouch_lists_by_city(city.name).first
      - if vouch_list.nil?
        You have not Vouched anything in #{city.name}.
        = link_to "Let's Vouch!", new_vouch_list_city_path(city.name)
      - elsif vouch_list.has_business?(@business)
        = already_vouched_button("primary")
      - elsif current_user.wish_list_in_city(city).has_business?(@business)
        = already_in_wish_list_button
      - else
        %span.vouch
          = link_to "Vouch For This #{@business.business_type.name.capitalize}", '#', class: "btn btn-primary", id: "vouch_business_action"
          = hidden_field_tag "vouch_list_id", current_user.vouch_lists_by_city(city.name).first.id
        or
        %span.wish
          = link_to "I Want To Go!", '#', class: "btn btn-info", id: "wish_business_action"
          = hidden_field_tag "wish_list_id", current_user.wish_list_in_city(city).id
          = hidden_field_tag "city_id", city.id
  .span5
    #map-canvas

%p
  = link_to 'Back', :back

%br

:javascript
  var LONG = #{@business.longitude};
  var LAT  = #{@business.latitude};

= javascript_include_tag "business_map"
