\======================================================
- friends.each do |friend|
  - if params[:query].present?
    - lists = User.vouch_lists_by_keyword(friend, params[:query])
  - else
    - lists = friend.vouch_lists_by_city(city.name)
  - next if lists.first.nil? or lists.first.empty?

  - lists.each do |list|
    - not_found = false
    %h4
      = capitalize_title(list.title)

    %div
      - list.vouch_items.each_with_index do |item, index|
        -# Get the next 3 items
        - next if (index + 1) % 3 != 1

        .row-fluid
          .span3
            - item1 = list.vouch_items[index]
            - index += 1
            - b = Business.find(item1.business_id)
            %span.business-name #{b.name}
            %br
            = business_image(b, business_path(b))
            %br
            = business_rating(b)
            = business_review_count(b)
            %br
            Tags:
            = item.tag_list

            %br
            - if current_user.has_wish_item?(item1)
              = already_in_wish_list_button
            - elsif current_user.has_vouch_item?(item1)
              = already_vouched_button
            - else
              = link_to "I Want To Go!", "#", class: "btn btn-primary add-to-wish-list", id: "#{b.id}"
            = hidden_field_tag 'friend_id', friend.id
            = hidden_field_tag 'vouch_item_id', item1.id
            .loading-image{ id: "loading_#{item1.id}" }

          .span3
            - item2 = list.vouch_items[index]
            - index += 1
            - b = Business.find(item2.business_id)
            %span.business-name #{b.name}
            %br
            = business_image(b, business_path(b))
            %br
            = business_rating(b)
            = business_review_count(b)
            %br
            Tags:
            = item.tag_list

            %br
            - if current_user.has_wish_item?(item2)
              = already_in_wish_list_button
            - elsif current_user.has_vouch_item?(item2)
              = already_vouched_button
            - else
              = link_to "I Want To Go!", "#", class: "btn btn-primary add-to-wish-list", id: "#{b.id}"
            = hidden_field_tag 'friend_id', friend.id
            = hidden_field_tag 'vouch_item_id', item2.id
            .loading-image{ id: "loading_#{item2.id}" }

          .span3
            - item3 = list.vouch_items[index]
            - index += 1
            - b = Business.find(item3.business_id)
            %span.business-name #{b.name}
            %br
            = business_image(b, business_path(b))
            %br
            = business_rating(b)
            = business_review_count(b)
            %br
            Tags:
            = item3.tag_list

            %br
            - if current_user.has_wish_item?(item3)
              = already_in_wish_list_button
            - elsif current_user.has_vouch_item?(item3)
              = already_vouched_button
            - else
              = link_to "I Want To Go!", "#", class: "btn btn-primary add-to-wish-list", id: "#{b.id}"
            = hidden_field_tag 'friend_id', friend.id
            = hidden_field_tag 'vouch_item_id', item3.id
            .loading-image{ id: "loading_#{item3.id}" }

        %br
\======================================================