- if @friends.count == 0
  You don't have any friends.
  = add_friend_link
- else
  .alert.alert-error.friend-list-errors
  .alert.alert-success.friend-list-success

  %p.text-info
    Search for Restaurants or Tags
  .input-append
    = form_tag friends_path, method: :get, class: "name-search" do
      = text_field_tag :query, params[:query], placeholder: "Restaurant name or tag...", class: "input-xlarge"
      = submit_tag "Search", name: nil, class: "btn btn-info"
      = link_to "Clear", friends_path, class: "btn"

  - if params[:query].present?
    %h3
      Friends' Lists that Include '#{params[:query]}'

  - not_found = true
  - @friends.each do |friend|
    - if params[:query].present?
      - lists = User.vouch_lists_by_keyword(friend, params[:query])
    - else
      - lists = friend.vouch_lists_by_city(@city.name)
    - next if lists.first.nil? or lists.first.empty?

    - lists.each do |list|
      - not_found = false
      %h4
        = capitalize_title(list.title)

      %div
        %table.table.table-striped.table-condensed.restaurants-listing
          %thead
            %tr
              %th{ colspan: "2" }
                Restaurant
              %th
                Neighborhoods
              %th
                Yelp Rating
              %th
                Reviews
              %th
                Tags
              %th
          %tbody
            - list.vouch_items.each do |item|
              - b = Business.find(item.business_id)
              %tr
                %td
                  = business_image(b)
                %td
                  = b.name
                %td
                  = b.neighborhood
                %td
                  = business_rating(b)
                %td
                  = business_review_count(b)
                %td
                  = item.tag_list
                %td
                  - if current_user.has_wish_item?(item)
                    %button{ class: "btn btn-primary disabled" } Already in your wish list!
                  - else
                    = link_to "Add to \"Places I Want to Go\"", "#", class: "btn btn-primary add-to-wish-list", id: "#{b.id}"
                  = hidden_field_tag 'friend_id', friend.id
                  .loading-image{ id: "loading_#{item.id}" }

  - if not_found == true
    No records found.

  :javascript
    var CITY_ID = "#{@city.id}";
