- if @friends.count == 0
  You don't have any friends.
  = add_friend_link
- else
  %p.text-info
    Search for restaurants or tags
  .input-append
    = form_tag friends_path, method: :get do
      = text_field_tag :query, params[:query]
      = submit_tag "Search", name: nil, class: "btn"
      = link_to "Clear Keywords", friends_path, class: "btn"

  - @friends.each do |friend|
    - if params[:query].present?
      - lists = User.vouch_lists_by_keyword(friend, params[:query])
    - else
      - lists = friend.vouch_lists_by_city(@city.name)

    - lists.each do |list|
      %h4
        = capitalize_title(list.title)

      %div
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th
                Restaurants
              %th
                Neighborhoods
              %th
                Yelp Rating
              %th
                Reviews
              %th
                Tags
              %th
          %tbody
            - list.vouch_items.each do |item|
              - b = Business.find(item.business_id)
              %tr
                %td
                  = b.name
                %td
                  = b.neighborhood
                %td
                  %span{ class: "rating-static rating-#{rating_class(b.yelp_rating)}" }
                %td
                  = b.yelp_review_count
                %td
                  = item.tag_list
                %td
                  = link_to "Add to \"Places I Want to Go\"", "#", class: "btn btn-primary btn-small"