.row-fluid.friendship
  .span5
    %h2 Following

    - if @friends.count == 0
      You don't have any friends.
      = add_friend_link
    - else
      %ul.my-friends
        - @friends.each do |friend|
          %li.friendship-listing-item
            = friend.name
            = link_to "(x)", friendship_path(friend), method: :delete, 'data-confirm' => "Are you sure you want to remove this friend?"

  .span5.friend-lookup
    %h4 Friend Lookup By Email
    .alert.alert-error.friendship-errors
    .alert.alert-success.friendship-success
    %form.form-inline
      = text_field_tag "friend_email", nil, placeholder: "Email...", class: "input-xlarge"
      %button.btn.btn-info{ type: "submit", id: "add_friend_button" } Add Friend

- if @inverse_friends.count > 0
  .row-fluid.friendship
    %h3 People Following You

    %ul
      - @inverse_friends.each do |inverse_friend|
        %li.friendship-listing-item
          = inverse_friend.name
