%h2
  #{current_user.name}'s Vouches

- if @vouch_lists.count == 0
  %h4
    You have no lists yet. Please create one!
  %br
  - City.alphabetical.each do |city|
    = link_to "Create Vouches in #{city.my_name}", new_vouch_list_city_path(city.name), class: "btn btn-success btn-large"
    &nbsp;

- else
  .span6
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            Lists
      %tbody
        - @vouch_lists.each do |list|
          %tr
            %td
              = link_to capitalize_title(list.title), vouch_list_path(list)
              = link_to "Edit", edit_vouch_list_path(list), class: "btn btn-mini pull-right"
          %tr
            %td
              %ul
                - list.vouch_items.each do |item|
                  %li
                    - b = Business.find(item.business_id)
                    = b.name
