.list-creation-first
  .alert.alert-error.list-errors
  .alert.alert-success.list-success

  - if vouch_list.present?
    %h3
      = capitalize_title(vouch_list.title)
      -# Vouch list for...
  - else
    %h3
      Tell Us Your Favorite Restaurants in #{city.name}!
      -# Tell us your favorite five restaurants for a sunny company outing!

  .control-group
    - if false
      - unless vouch_list.present?
        = label_tag "title", "Or, alternatively, give your list a different title! Tell us your..."
      .controls
        = text_field_tag "title", nil, :placeholder => "Favorite date night restaurants", :class => "input-xxlarge", 'data-bind' => "value: title"

    = hidden_field_tag 'owner_id', current_user.id
    = hidden_field_tag 'city_id', city.id

    -# .control-group
    -#   = f.label :description, "Optionally, add some fancy descriptions here!"
    -#   = f.text_area :description, rows: 5, class: "input-xxlarge"

.list-creation-second
  .alert.alert-error.restaurant-input-error
  %h4 Search for Restaurants
  .input-append
    %form{ 'data-bind' => "submit: addItem", :autocomplete => "off" }
      = text_field_tag 'business_name', nil, :placeholder => "Start typing...", :class => "input-large", 'data-provide' => "typeahead", 'data-source' => '["' + restaurants.map { |r| r.name }.join("\",\"") + '"]', :autocomplete => "off", 'data-bind' => 'value: newItemName', :id => "typed_restaurant_name"
      %button.btn.btn-info{ :type => "submit" }
        Vouch

  %table.table.restaurants-table
    %thead
      %tr
        %th
          Restaurant
        %th
          Neighborhoods
        %th
          Yelp Rating
        %th
          Yelp Reviews
        %th
          Tags (No special symbols required)
          -# TODO: tooltip now working
          -# %a{ href: '#', class: "tag-help" }
          -#   %i{ class: "icon-question-sign" }

    %tbody{ 'data-bind' => 'foreach: items' }
      %tr.items
        %td{ 'data-bind' => "text: name" }
        %td{ 'data-bind' => "text: neighborhood" }
        %td{ 'data-bind' => "text: yelp_rating" }
        %td{ 'data-bind' => "text: yelp_reviews" }
        %td.tagging
          %span{ 'data-bind' => "text: item_id", :class => "item_id", :style => "display:none;" }
          %ul.item-tags
        %td
          = link_to "Delete", "#", 'data-bind' => "click: $root.removeItem"
        %input{ 'data-bind' => "text: id", :type => "hidden" }
        %input{ 'data-bind' => "text: item_id", :type => "hidden" }

.list-creation-third
  %br
  .control-group
    .row-fluid
      .loading-image
      %button{ 'data-bind' => 'click: save', :class => "btn btn-primary btn-large save-list-submit" }
        Save My List

      - if vouch_list.present?
        &nbsp;
        = link_to "Share with Friends!", vouch_list_path(vouch_list), class: "btn btn-success btn-large"

      - if vouch_list.present? and (current_user.admin? or (Rails.env.development? and vouch_list.my_list?(current_user)))
        = link_to "Delete List", vouch_list_path(vouch_list), :method => :delete, 'data-confirm' => "Are you sure you want to delete this list?", :class => "btn btn-danger pull-right"

- vouch_list_id = vouch_list.present? ? vouch_list.id : 0
:javascript
  var CITY = "#{city.name}";
  var VOUCH_LIST = #{vouch_list_id};

= javascript_include_tag "jquery"
= javascript_include_tag "vouch_lists"
