.list-creation-first
  .alert.alert-error.list-errors
  .alert.alert-success.list-success

  %h3
    Tell us your favorite five restaurants for a sunny company outing!

  .control-group
    = label_tag "title", "Or, alternatively, give your list a different title! Tell us your..."
    .controls
      = text_field_tag "title", nil, :placeholder => "Favorite date night restaurants", :class => "input-xxlarge", 'data-bind' => "value: title"
      = hidden_field_tag 'owner_id', current_user.id

    -# .control-group
    -#   = f.label :description, "Optionally, add some fancy descriptions here!"
    -#   = f.text_area :description, rows: 5, class: "input-xxlarge"

.list-creation-second
  .alert.alert-error.restaurant-input-error
  %h4 Search for Restaurants
  .input-append
    %form{ 'data-bind' => "submit: addItem", :autocomplete => "off" }
      = text_field_tag 'business_name', nil, :placeholder => "Start typing...", :class => "input-large", 'data-provide' => "typeahead", 'data-source' => '["' + restaurants.map { |r| r.name }.join("\",\"") + '"]', :autocomplete => "off", 'data-bind' => 'value: newItemName', :id => "typed_restaurant_name"
      %button.btn{ :type => "submit" }
        Add to list

  .loading-image

  %table.table.restaurants-table
    %thead
      %tr
        %th
          Restaurant
        %th
          Neighborhoods
        %th
          City
        %th
          Yelp Rating
        %th
          Yelp Reviews
    %tbody{ 'data-bind' => 'foreach: items' }
      %tr
        %td{ 'data-bind' => "text: name" }
        %td{ 'data-bind' => "text: neighborhood" }
        %td{ 'data-bind' => "text: city" }
        %td{ 'data-bind' => "text: yelp_rating" }
        %td{ 'data-bind' => "text: yelp_reviews" }
        %td
          = link_to "Delete", "#", 'data-bind' => "click: $root.removeItem"
        %input{ 'data-bind' => "text: id", :type => "hidden" }
        %input{ 'data-bind' => "text: item_id", :type => "hidden" }

      -# %tr.restaurants-list
      -#   %td.restaurant-placeholder{ colspan: "5" }
      -#     Your list of favorite restaurants will appear here!

.list-creation-third
  %br
  .control-group
    %button{ 'data-bind' => 'click: save', :class => "btn btn-primary btn-large" }
      Save My List

- vouch_list_id = vouch_list.present? ? vouch_list.id : 0
:javascript
  var CITY = "San Francisco";
  var VOUCH_LIST = #{vouch_list_id}

= javascript_include_tag "jquery"
= javascript_include_tag "vouch_lists"
