%h3
  Tell us your favorite five restaurants for a sunny company outing!

= form_for @vouch_list do |f|

  .control-group
    = f.label :title, "Or, alternatively, give your list a different title!"
    .controls
    = f.text_field :title, class: "input-xxlarge", placeholder: "Your own title here!"

  .control-group
    %h4 Search for Restaurants
    .input-append
      = text_field_tag 'business_name', nil, :placeholder => "Start typing...", :class => "input-large", 'data-provide' => "typeahead", 'data-source' => '["' + @restaurants.map { |r| r.name }.join("\",\"") + '"]', :id => "typed_restaurant_name"
      %button.btn{ id: "add_restaurant" }
        Add to list

  %table.table.restaurants-table
    %thead
      %tr
        %th
          Restaurant
    %tbody
      %tr.restaurants-list
        %td
          Your list of favorite restaurants will appear here!

  %br
  .control-group
    = f.submit "Save My List", class: "btn btn-primary btn-large"
