- if params[:notice]
  .alert.alert-success.list-show-message
    %button{ :type => "button", :class => "close", 'data-dismiss' => "alert" } x
    = params[:notice]

%h4
  Awesome! Now share your vouches with your friends!

%h2
  = @vouch_list.title.capitalize

.span6
  %table.table.table-striped
    %thead
      %tr
        %th
          Restaurants
    %tbody
      - @vouch_list.vouch_items.each do |item|
        - b = Business.find(item.business_id)
        %tr
          %td{ colspan: "3" }
            = b.name
        %tr
          %td
          %td
            = b.categories_formatted
          %td
            = b.neighborhood

.span5
  %h4
    Add Friends from Facebook
  .alert.alert-error.friend-list-error

  %form.form-search{ 'data-bind' => "submit: addFriend", :autocomplete => "off" }
    = text_field_tag 'friend_name', nil, :placeholder => "Start typing...", :class => "input-large search-query", 'data-provide' => "typeahead", 'data-source' => '["' + current_user.fb_friends.map { |f| f["name"] }.join("\",\"") + '"]', :autocomplete => "off", 'data-bind' => 'value: newFriendName', :id => "typed_friend_name"
    %button{ type: "submit", class: "btn" } Add

  %table.table
    %thead
      %tr
        %th
          Friends
    %tbody
      %tr
        %td
          In Progress

= javascript_include_tag "jquery"
= javascript_include_tag "share_vouch_list"
